<h1> Search for a Gadget Network Member</h1>

<form method="post" action="/search">
  <label for="user_name">User name
    <input type="text" name="user_name">
  </label>
  <button type="submit">Search username</button>
</form>

<hr />
<ul>
  <li>bootcamp</li>
  <li>bootcamp-person</li>
  <li>my_bootcamp<li>
</ul>