<h1> Welcome <%= params[:user_name] %></h1>

<h1>Create a new user account</h1>
<form method="post">
  <label>User name
    <input type="text" name="user_name">
  </label><br>
<button type="submit">Sign up!</button>
</form>


